@model List<Lab.EF.MVC.Models.RegionView>

@{
    ViewBag.Title = "Regiones";
}

<h1>Regiones</h1>

<div style="margin-bottom:20px;">
    @Html.ActionLink("Agregar Region", "Insert", new { area = "" }, new { @class = "btn btn-primary" })
</div>

<table class="table table-striped table-dark rounded-lg table-borderless">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
        <tr>
            <th scope="row">@region.Id</th>
            <td>@region.Description</td>
            <td>
                @Html.ActionLink("Borrar", "Delete", new { id = region.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Editar", "Edit", new { region.Description }, new { @class = "btn btn-info" })
            </td>
        </tr>
        }
    </tbody>
</table>



